@using Kentico.Kontent.Delivery.Abstractions
@model IEnumerable<Kentico.Kontent.Delivery.Abstractions.IAsset>
@{
    bool lazyImages = Html.Site().LazyImages;
    bool imageShadow = Html.Site().ImageShadow;
    IAsset image = Model?.FirstOrDefault();
}
@if (image != null)
{
    <div class="entry-featured-image">
        @if (lazyImages)
        {
            <img class="featured-image lazyimg @(imageShadow?"image-shadow":"")" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="@image.Url?w=940&h=670&fit=crop" alt="@image.Description">
        }
        else
        {
            <img class="featured-image  @(imageShadow?"image-shadow":"")" src="@image.Url?w=940&h=670&fit=crop" alt="@image.Description">    
        }
    </div>
}